body {
  border: 2px solid black;

  width: 95%;
  height: 90%;
}

header {
  text-align: center;

  font-size: bold;
  font-family: "Times New Roman", Times, serif;

  border-bottom: 1px solid whitesmoke;
}

.language {
  width: 95%;
  height: 800px;

  margin: 0px auto;

  /* background-color: rgb(166, 192, 240); */

  border: 2px solid black;
}

#title-bar {
  width: 100%;
  height: 15%;

  text-align: center;

  align-items: center;

  border-bottom: 2px solid black;

  font-size: 40px;
  font-family: "Times New Roman", Times, serif;

  color: crimson;

  justify-content: center;
}
.title-bar:hover {
  background-color: cornflowerblue;
}

.mainPalet {
  width: 100%;
  height: 85%;

  padding: 1px;

  /* margin-left: 5px; */

  /* display: flex; */

  box-sizing: border-box;
}

.option {
  width: 100%;
  height: 60%;

  margin: 0px auto;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  border-bottom: 0.5px solid black;
}

#action {
  width: 100%;
  height: 40%;

  margin: 0px auto;

  margin-top: 10px;
  margin-left: 20px;

  justify-content: space-around;

  /* background-color: rgb(170, 243, 141); */
  /* border: 0.5px solid black; */
}

#output {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.num {
  width: 20%;
  height: 20%;

  font-size: 20px;
  font-family: "Times New Roman", Times, serif;

  border: 0.5px solid black;

  margin-top: 5px;

  justify-content: center;

  text-align: center;
}

.num:hover {
  cursor: pointer;

  background-color: darkgray;
}

.num:active {
  background-color: fuchsia;
}

footer {
  text-align: center;
}
